
/* Global Styles */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(132, 135, 137);
    line-height: 1.889;    
}

body h1, h2, h3{
    font-size: 18px;    
    color: rgb(53, 55, 56);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
}



.text-content{   
    padding: 2em 3em;
    text-align: center;
    align-self: center;    
}
.text-content h2{
    margin: 0.8em 0;    
}  
.text-content p{
    text-align: justify;   
    font-size: 16px;    
}
.text-content hr{
    margin: 2em auto 0;
    width: 3em;
}



/* Header Styles */

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
}
header nav{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .mobile-menu{
    font-size: 28px;
    color: rgb(100,194,158);
    display: none;
}
header nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-family: "Lato";
    color: rgb(77, 73, 89);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 5em 2em;
}


/* Home Styles */

.home{       
    /* background: url(../images/home_bg.jpg) no-repeat center/cover; */
    /* display: grid;
    place-content: center;
    text-align: center;   */
    display: grid;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden; 
}
.background_home {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background_home img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center 70%;
    object-fit: cover;
    transform: translateY(5%);
    animation: increase 8s linear 10ms;
    opacity: 0;
}


@keyframes increase {
    0% {
        transform: scale(1.1) translateY(5%);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale(1.1) translateY(-5%);
        opacity: 1;
    }
}

.home-content{
    align-self: center;
    justify-self: center;
    text-align: center;
}


.home h1{
    margin: 0;    
}
.home h1 span{
    animation: home-h1 0.3s linear infinite;
}
.home h1 .s-2{
    animation-delay: 0.3s;
}
.home h1 .s-3{
    animation-delay: 0.1s;
}
.home h1 .s-5{
    animation-delay: 0.3s;
}
.home h1 .s-6{
    animation-delay: 0.2s;
}
@keyframes home-h1{
    25%{color: rgb(142,94,102);}
    50%{color:rgb(81,77,100);}
    75%{color: rgb(132,164,208)}
    100%{color: rgb(132,135,137);}    
}
.home button{
    width: max-content;
    margin: 1em auto;
    background-color: seagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.7em 2em;
    cursor: pointer;
}


/* about styles */
.about{
    background-color: rgb(247, 247, 247);
    display: grid;
    place-content: center;
    text-align: center;
    padding: 5.5em 0;
}
.about img{
    margin: auto;
}
.about h2{ 
    margin: 2em 0;   
}
.about p{
    width: 70%;
    margin: auto;
} 
  


/* works styles */

.works{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 11em;
}
.works div:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/4;
    background: url(../images/works_images/Layer-1.jpg) no-repeat center/cover;
    display: grid;
    place-content: center;
}
.works div:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 1/3;   
}
.works div:nth-of-type(3){   
    grid-column: 3/4;
    grid-row: 3/4;
    background: url(../images/works_images/Layer-2.jpg) no-repeat center/cover;
}
.works div:nth-of-type(4){
    grid-column: 1/2;
    grid-row: 4/6;
}
.works div:nth-of-type(5){
    grid-column: 1/2;
    grid-row: 6/7;
    background: url(../images/works_images/Layer-3.jpg) no-repeat center/cover;
}
.works div:nth-of-type(6){
    grid-column: 2/4;
    grid-row: 4/7;
    background: url(../images/works_images/Layer-4.jpg) no-repeat center/cover;
    display: grid;
    place-content: center;
}
.works div:nth-of-type(7){
    grid-column: 1/2;
    grid-row: 7/10;
    background: url(../images/works_images/Layer-5.jpg) no-repeat center/cover;
    display: grid;
    place-content: center;
}
.works div:nth-of-type(8){
    grid-column: 2/3;
    grid-row: 7/9;
}
.works div:nth-of-type(9){
    grid-column: 2/3;
    grid-row: 9/10;
    background: url(../images/works_images/Layer-6.jpg) no-repeat center/cover;
}
.works div:nth-of-type(10){
    grid-column: 3/4;
    grid-row: 7/10;
    background: url(../images/works_images/Layer-7.jpg) no-repeat center/cover;
}



/* testimonial section styles */

.testimonial{
    background-color: rgb(247, 247, 247);
  
}
.testimonial-slide{
    display: grid;
    place-content: center;
    text-align: center;
    padding: 7em 0 4em;
    display: none;
}
.testimonial-slide.active{
    display: block;
}
.testimonial-slide i{    
    font-size: 28px;   
    margin: auto;
    color: deepskyblue;
}  
.testimonial-slide h2{ 
    margin: 2em 0; 
    text-transform: none;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(53, 55, 56);     
}  
.testimonial-slide h2 span{
    color: rgb(132, 135, 137);
}  
.testimonial-slide p{
    font-size: 24px;
    line-height: 1.417;
    width: 70%;
    margin: auto;
    font-style: italic;
}
.testimonial-dots div{   
    display: flex;
    justify-content:center;
    gap: 0.5em;  
    margin-top: 3em;  
    padding-bottom: 3em;
}
.testimonial-dots div span{
    width: 12px;
    height: 12px;
    border: 1px solid rgb(132, 135, 137);
    border-radius: 50%;
    gap: 2em;
}
.testimonial-dots div span:hover{
    background-color: rgb(132, 135, 137);
    cursor: pointer;
}


/* shop section styles */

.shop-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 15em);
    grid-template-areas: 
    "item-1 item-2 item-3 item-4 item-5 item-5"
    "item-6 item-6 item-3 item-4 item-7 item-8";
}
.shop-grid .item-1{
    grid-area: item-1;
    background: url(../images/shop_images/Layer-1.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-2{
    grid-area: item-2;
    background: url(../images/shop_images/Layer-2.jpg) no-repeat center/cover;
    position: relative;    
}
.shop-grid .item-3{
    grid-area: item-3;
    background: url(../images/shop_images/Layer-3.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-4{
    grid-area: item-4;
    background: url(../images/shop_images/Layer-4.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-5{
    grid-area: item-5;
    background: url(../images/shop_images/Layer-5.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-6{
    grid-area: item-6;
    background: url(../images/shop_images/Layer-6.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-7{
    grid-area: item-7;
    background: url(../images/shop_images/Layer-7.jpg) no-repeat center/cover;
    position: relative;
}
.shop-grid .item-8{
    grid-area: item-8;
    background: url(../images/shop_images/Layer-8.jpg) no-repeat center/cover;
    position: relative;
}

.shop-grid .shop-overlay{
    background-color: rgba(100, 194, 158, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: grid;
    place-content: center;  
    opacity: 0;
}
.shop-grid .shop-overlay img{
    margin: 1em auto;    
}
.shop-grid .shop-overlay h2{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.shop-grid .shop-overlay:hover{
    opacity: 1;
    transition: opacity 0.3s;
}
.shop .shop-button{
    height: 11em;
    background-color: rgb(40, 47, 53);
    display: grid;
    place-content: center;
}
.shop .shop-button button{   
    border: 1px solid rgba(255, 255, 255, 0.5);    
    width: 22em;
    height: 4em;
    background-color: transparent;  
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    word-spacing: 0.3em;
    letter-spacing: 0.2em;
  }


  /* email section styles */

  .email{
    display: grid;
    place-content: center;
    gap: 2em;
    padding: 6em 0;
  }
  .email img{
    margin: auto;
  }
  .email h2{
    margin: auto;
    text-transform: none;
    font-size: 24px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    font-style: italic;
    line-height: 1.417;
    word-spacing: normal;
    letter-spacing: normal;
    font-weight: normal;
  }
  .email form{
    position: relative;
  }
  .email form input:nth-of-type(1){
    border: 1px solid rgb(211, 215, 217);   
    width: 20em;
    height: 3.5em;
    padding-left: 1em;
    font-size: 20px;       
    font-style: italic;
    line-height: 1.2;
  }
  .email form input::placeholder{   
    color: rgba(146, 146, 146, 0.5);
  }
  .email form input:nth-of-type(2){
    background-color: rgb(100, 194, 158);
    width: 6.3em;
    height: 3.5em;
    font-size: 20px;
    font-family: "Lato";
    color: rgba(255, 255, 255, 0.7);
    border: none;   
    line-height: 1;
    margin-left: 5px;
    cursor: pointer;
  }

  .email span{
    position: absolute;
    bottom: 20px;
    right: 150px;
    color: brown;
    font-size: 14px;
}

.email span i{
    color: seagreen;
}

#submit-error{
    color: seagreen;
    top: 80px;
    right: 190px;
}


  /* footer styles */
  footer{
    background-color: rgb(247, 247, 247);
    height: 14em;   
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .contact{
    font-size: 16px;   
    font-weight: bold;
    line-height: 1.117;     
  }
  footer .contact p{
    font-style: italic; 
  }
  footer .contact h3{    
    color: rgb(132, 135, 137);
    word-spacing: normal;
    letter-spacing: normal;    
  }
  footer .contact iframe{
    width: 18em;
    height: 10em;
    margin-top: 10px;
  }
  footer a{
    text-decoration: none;
  }
  footer .social{
    line-height: 1.2;
  }
  footer .social a{
    font-size: 30px;
    margin-right: 10px;
  }
  footer .social a:nth-child(1){
    color: rgb(120,205,240);
  }
  footer .social a:nth-child(2){
    color: rgb(83,123,189);
  }
  footer .social a:nth-child(3){
    color: rgb(235,87,85);
  }  
  footer .designer a{
    display: flex;
    gap: 10px;
    align-items: center; 
    font-size: 14px;
    font-family: "Lato";
    font-weight: bold;
    color: rgb(132, 135, 137);
    font-style: italic;        
  }  

  .white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }